@model List<SisAlmacenProductos.Models.User>

@{
    ViewBag.Title = "Usuarios Registrados";
}

<h2>Usuarios Registrados</h2>

<div class="d-flex gap-2 mb-3">

    <a class="btn btn-success" asp-action="AgregarUsuarioAlmacen">Agregar Usuario Almacén</a>
    <a class="btn btn-primary ms-2" asp-action="AgregarSucursal">Agregar Sucursal</a>
    <a class="btn btn-warning ms-2" asp-action="AgregarProveedor">Agregar Proveedor</a>


    <form asp-action="ExportarUsuariosExcel" method="post">
        <button type="submit" class="btn btn-outline-success">
            <i class="bi bi-file-earmark-excel"></i> Exportar Usuarios a Excel
        </button>
    </form>
</div>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            @*<th>ID</th>*@
            <th>Usuario</th>
            <th>Rol</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                @*<td>@usuario.Id</td>*@
                <td>@usuario.Username</td>
                <td>@usuario.Role</td>
                <td>@usuario.CreatedAt.ToString("dd/MM/yyyy")</td>
                <td>@usuario.CreatedAt.ToString("HH:mm")</td>
                <td>
                    <a asp-action="EditarUsuario" asp-route-id="@usuario.Id" class="btn btn-warning btn-sm">
                        <i class="bi bi-pencil-square"></i> Editar
                    </a>
                    <a asp-action="EliminarUsuario" asp-route-id="@usuario.Id" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i> Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Admin" asp-action="DashboardAdmin" class="btn btn-secondary mt-3">
    <i class="bi bi-arrow-left-circle"></i> Volver al Panel
</a>
